DJANGO_DEBUG=True
DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=planejamento_pcc
POSTGRES_USER=planejamento_pcc
POSTGRES_PASSWORD=planejamento_pcc
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
POSTGRES_CONNECT_TIMEOUT=10
